config
*/**/config
__pycache__
*/**/__pycache__
*/**/*.txt
sample.py
build
log
*/**/log
cms-part/now-sitecore-content-pc.inc
cms-part/now-sitecore-content-sp.inc
cms-part/now-sitecore-localcode-pc.inc
cms-part/now-sitecore-localcode-sp.inc
